language: python
python:
  - "2.5"
  - "2.6"
  - "2.7"
  - "3.2"
env:
  - PYTHONPATH='.'
branches:
  only:
    - master
install: 
  - pip install . --use-mirrors
  - pip install pep8
script: 
  - pep8 --repeat --exclude=bottle.py,abc.py --show-source cleaver setup.py
  - python setup.py test
